<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Visiidid</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css"/>
    <script type="text/javascript" src="jquery.min.js"></script>
    <script type="text/javascript" src="bootstrap.min.js"></script>
</head>
<body>
<div class="wrapper">
    <div th:replace="menu :: main-menu"></div>
    <div class="container">
        <h3>Registreeri visiidile</h3>
        <br/>
        <table class="table table-hover">
            <tr>
                <th th:text="#{visiidi.aeg}"></th>
                <th th:text="#{hambaarst}"></th>
                <th th:text="#{perearst}"></th>
            </tr>
            <!--/*@thymesVar id="dentistVisitDTOs" type="List<com.cgi.dentistapp.dto.DentistVisitDTO>"*/-->
            <tr th:each="dentistVisitDTO : ${dentistVisitDTOs}">
                <td th:text="${dentistVisitDTO.getVisitDateTime()}"></td>
                <td th:text="${dentistVisitDTO.getDentistName()}"></td>
                <td th:text="${dentistVisitDTO.getPhysicianName()}"></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>