<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registreeringud</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="jquery.datetimepicker.min.css"/>
    <script type="text/javascript" src="jquery.min.js"></script>
    <script type="text/javascript" src="jquery-ui.min.js"></script>
    <script type="text/javascript" src="bootstrap.min.js"></script>
    <script src="jquery.datetimepicker.full.min.js"></script>
    <script src="form.js"></script>
</head>
<body>
<div class="wrapper">
    <div th:replace="menu :: main-menu"></div>
    <div class="container">
        <h3>Registreeringud</h3>
        <br/>
        <table class="table">
            <tr>
                <th th:text="#{form.algusaeg}"></th>
                <th th:text="#{form.loppaeg}"></th>
                <th th:text="#{visits.hambaarst}"></th>
                <th th:text="#{visits.perearst}"></th>
            </tr>
            <!--/*@thymesVar id="dentistVisitDTOs" type="List<com.cgi.dentistapp.dto.DentistVisitDTO>"*/-->
            <tr th:each="dentistVisitDTO : ${dentistVisitDTOs}">
                <td th:text="${dentistVisitDTO.getVisitBeginningDateTime()}"></td>
                <td th:text="${dentistVisitDTO.getVisitEndDateTime()}"></td>
                <td th:text="${dentistVisitDTO.getDentistName()}"></td>
                <td th:text="${dentistVisitDTO.getPhysicianName()}"></td>
            </tr>
        </table>
        <br/>
        <h3>Otsing</h3>
        <!--/*@thymesVar id="searchQuery" type="com.cgi.dentistapp.dto.SearchQueryDTO"*/-->
        <form class="form-horizontal" th:action="@{/visits}" th:object="${searchQuery}" method="post">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-form-label col-sm-2" for="dentistName" th:text="#{hambaarsti.nimi}"></label>
                        <div class="col-sm-10">
                            <input maxlength="50" class="form-control" type="text" th:field="*{dentistName}" id="dentistName"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label col-sm-2" for="physicianName" th:text="#{perearsti.nimi}"></label>
                        <div class="col-sm-10">
                            <select class="form-control" th:field="*{physicianName}" id="physicianName">
                                <option value=""></option>
                                <option value="Perearst 1">Perearst 1</option>
                                <option value="Perearst 2">Perearst 2</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label col-sm-2" for="visitBeginningDateTime" th:text="#{form.algusaeg}"></label>
                        <div class="col-sm-10">
                            <input class="form-control" th:field="*{visitBeginningDateTime}" id="visitBeginningDateTime"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label col-sm-2" for="visitEndDateTime" th:text="#{form.loppaeg}"></label>
                        <div class="col-sm-10">
                            <input class="form-control" th:field="*{visitEndDateTime}" id="visitEndDateTime"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10">
                            <input id="insert" type="submit" class="btn btn-default" th:value="#{visits.otsi}"/>
                        </div>
                    </div>
                    <!--/*@thymesVar id="feedbackList" type="List<com.cgi.dentistapp.feedback.Feedback>"*/-->
                    <div th:replace="feedback :: feedback-messages (feedbackList=${feedbackList})"></div>
                    <div>
                        <table id="results" class="table table-hover">
                            <thead>
                            <tr>
                                <th th:text="#{form.algusaeg}"></th>
                                <th th:text="#{form.loppaeg}"></th>
                                <th th:text="#{visits.hambaarst}"></th>
                                <th th:text="#{visits.perearst}"></th>
                                <th th:text="#{visits.detailid}"></th>
                            </tr>
                            <!--/*@thymesVar id="searchResult" type="List<com.cgi.dentistapp.dto.SearchQueryResultDTO>"*/-->
                            <tr th:each="result : ${searchResult}">
                                <td th:text="${result.getVisitBeginningDateTime()}"></td>
                                <td th:text="${result.getVisitEndDateTime()}"></td>
                                <td th:text="${result.getDentistName()}"></td>
                                <td th:text="${result.getPhysicianName()}"></td>
                                <td>
                                    <button class="btn btn-danger" name="visit-id" type="submit" th:value="${result.getId()}" th:text="#{visits.vaata}"></button>
                                </td>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>

        </form>

    </div>
</div>
</body>
</html>